.footerlinks{
    text-decoration: none;
    font-size: 1em !important;
    color: black;
}

.footertitle{
    color: #b55eb2;
}

.mark{
    color:#b55eb2;

}

.MuiBox-root-2{
    color: #d999e9 !important;

}