@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');



.css-f9ryb2{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
}

.css-h2diw5{
    background-color: transparent !important;
    margin-top: 60px;
    box-shadow: none !important;
}

.logo{
    font-size: 2.5em !important;
    font-family: 'Comfortaa', cursive !important;
    margin-bottom: 20px !important;
}

.links{
    color: black;
    font-family: 'Comfortaa', cursive !important;
    border-bottom: 3px solid transparent !important;
    margin: 5px !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    position: relative !important;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    width: 100% !important;
    box-sizing: border-box !important;
    text-align: left !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 16px !important; 
    padding-right: 16px !important;
}

.links:hover{
    
    border-bottom: 0.5px solid rgb(235, 169, 241);
    margin: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.css-aeicvb{
    gap: 30px !important;
}

.css-198nu5u-MuiToolbar-root{
    overflow: hidden;
}


@media only screen and (max-width: 600px) {
    .css-aeicvb{
    gap: 0 !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: row !important;
    }


    .css-11ixs3a{
        font-size: 1.7em !important;
        text-align: left;
    }

    .none{
        display: none;
    }

    .links{
        padding:5px !important;
        margin: 0;
    }

    .css-aeicvb{
        margin-top: 10px !important;
    }


}